.cube-wrap{
  perspective: 5000px;
  perspective-origin: 50% 50%;
  width: 100%;
  max-width: 700px;
  margin-right: 100px;
  height: 200px;
  margin: 120px auto;
}
.cube {
  position: relative;
  margin: 20px;
  width: 100%;
  height: 180px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
}
.face {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 180px;
  padding: 10px 13px;
  color: #1F0405;
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  border-radius: 4px;
  box-shadow: inset 0 0 43px 40px rgb(221, 221, 221);
  overflow: hidden;
  border-radius: 20px;
  &--front {
    transform: translateZ(90px);
    background-color: $white-transparent-color;
  }
  &--back {
    transform: translateZ(-90px) rotateX(-180deg);
    background-color: $white-transparent-color;
  }
  &--up {
    transform: translateY(-90px) rotateX(-270deg);
    background-color: $white-transparent-color;
  }
  &--down {
    transform: translateY(90px) rotateX(-90deg);
    background-color: $white-transparent-color;
  }
}
.rotate-x {
  animation: spinX infinite linear;
}
@keyframes spinX {
  0% {
    transform: rotateX(0);
  }
  10%{
    transform: rotateX(36deg);
  }
  20% {
    transform: rotateX(72deg);
  }
  30% {
    transform: rotateX(108deg);
  }
  40%{
    transform: rotateX(144deg);
  }
  50%{
    transform: rotateX(180deg);
  }
  60%{
    transform: rotateX(216deg);
  }
  70%{
    transform: rotateX(252deg);
  }
  80%{
    transform: rotateX(288deg);
  }
  90%{
    transform: rotateX(324deg);
  }
  100%{
    transform: rotateX(360deg);
  }
}
