$grey-color: #eeeeee;
$white-transparent-color: rgba(235,235,235, 1);
$white: #fdfdfd;
$black: #232323;
$bg-footer: #323232;
$mobile-lg: 500px;
$tablet-sm: 750px;
$tablet-lg: 1000px;
$desktop: 1200px;
